body {
    font-family: Arimo, sans-serif;
    background-color: #3e3534;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #554c4a;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

::-webkit-scrollbar
{
    width: 0;
}

nav button {
    background-color: #bfb8b6;
    width: 24%;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
}

main {
    padding: 20px;
}


section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

article {
    flex: 1 1 300px;
    max-width: 400px;
    text-align: center;
}

button {
    width: 100%;
    background-color: #eae7e3;
    color: black;
    border: 1px solid #726967;
    padding: 10px;
    margin: 10px 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


footer {
    background-color: #2b2524;
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #726967;
    padding: 10px 0 10px;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.movies-table {
    width: 80%;
    align-self: center;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.movies-table th, .movies-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.movies-table th {
    background-color: #726967;
    color: white;
}

.container {
    width: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    background-color: #726967;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.text-block {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

.movies-table tr:nth-child(even) {
    background-color: #665450;
}

.movies-table tr:nth-child(odd) {
    background-color: #433836 ;
}


@media (orientation: portrait) {
    nav {
        flex-direction: column;
    }
    nav button {
        background-color: #bfb8b6;
        width: 100%;
        border: none;
        padding: 10px;
        margin: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    footer
    {
        visibility: hidden;
    }
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    nav button {
        background-color: #bfb8b6;
        width: 100%;
        border: none;
        padding: 10px;
        margin: 5px;
        cursor: pointer;
        font-size: 16px;
    }
}